body {
  background-image: url(Ramadhan3.jpg);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment:fixed ;
  padding: 0;
}

.navbar ul{
  display: flex;
  list-style: none;
  gap: 80px; 
  padding: 0;
  margin-left: 180px;
}

li:hover {
  transform: scale(1.2);
}

.navbar  {
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
   background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000; 
  padding: 10px;
}

a:hover {
  color: #3d64ad;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;

}

.home {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, transparent, #0f1f3d);
 padding-top: 150px;
}

.home h1 {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
 
}

.home h2 {
  font-size: 25px;
   color: white;
 display: flex;
 justify-content: center;
 margin-top: 90px;
 text-align: center ;
}

.marhaban {
  opacity: 0;
  transform: translateY(-80px);
  animation: turun 3s ease forwards;
  animation-delay: 0.5s;
}
@keyframes turun {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.selamat {
  opacity: 0;
  transform: translateY(-80px);
  animation: turun 3s ease forwards;
  animation-delay: 0.5s;
}
@keyframes turun {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.jadwal {
  background: linear-gradient(to bottom,  #0f1f3d );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.jadwal h1 {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 50px;
 
}

table, th, td {
            border: 2px solid #123;
            border-collapse: collapse;
            padding: 10px;
           
        }

        table {
            margin-left: 550px;
            background-color: aliceblue;
            text-align: center;
           border-radius: 10px;
           border-spacing: 0;
        }

        .table-container {
  max-height: 300px;   
  overflow-y: auto;    
  margin-top: 50px;
  padding: 0;
  margin: 0;
}

thead th {
  position: sticky;
  top: 0;
  background: #3d64ad;
  color: white;
  border-top: none;
}

thead {
  margin: 0;
}

.niat {
   background: linear-gradient(to bottom,    #0f1f3d );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.niat p {
   min-width: 800px;
  border: 2px solid rgb(136, 134, 134);
  border-radius: 20px;
  padding: 40px;
  font-size: 20px;
  line-height: 1.5;
  width: 100px;
  margin: auto;
  box-shadow: 20px 20px 20px black;
}

.doa {
   background: linear-gradient(to bottom,    #0f1f3d );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.doa p {
  min-width: 800px;
  border: 2px solid rgb(136, 134, 134);
  border-radius: 20px;
  padding: 40px;
  font-size: 20px;
  line-height: 1.5;
  width: 100px;
  margin: auto;
  box-shadow: 20px 20px 20px black;
}


.Quete {
  background: linear-gradient(to bottom,    #0f1f3d );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
}

.Quete h1 {
  margin: 50px;
}

.Quete p {
  min-width: 800px;
  text-align: justify;
 margin: auto;
  line-height: 1.5;
  font-size: 17px;
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  width: 100px;
  padding: 30px;
  box-shadow: 15px 15px 15px black;
}

.Quete p:hover {
  transform: scale(1.1);
}
.Quete h2 {
  font-size: 18px;
   min-width: 800px;
  text-align: justify;
 margin-left: 200px;
  line-height: 1.8;
  display: flex

}

.footer {
   background-color: black;
   display: flex;
   text-align: center;
   padding: 30px 80px;
   height: 80px;
   justify-content: center;
  
}

.footer h2 {
 color: white;
 font-size: 20px;
}